*
!*/

!.gitignore
!README.md
!RecreateProject.tcl
!zedboard_cnn.srcs/sources_1/imports/new/edge_enhance.v
!zedboard_cnn.srcs/sources_1/imports/new/init_ov7670.v
!zedboard_cnn.srcs/sources_1/imports/Project/keys.v
!zedboard_cnn.srcs/sources_1/imports/new/ov_7670_capture.v
!zedboard_cnn.srcs/sources_1/imports/new/vga.v
!zedboard_cnn.srcs/sources_1/imports/new/top.v
!zedboard_cnn.srcs/sources_1/imports/new/mac.v
!zedboard_cnn.srcs/sources_1/ip/cov1_1_core.coe
!zedboard_cnn.srcs/sources_1/ip/cov1_2_core.coe
!zedboard_cnn.srcs/sources_1/ip/cov2_2_core.coe
!zedboard_cnn.srcs/sources_1/imports/ov7670/ov7670_RamData.dat
!zedboard_cnn.srcs/sources_1/ip/fc_mac5_w.coe
!zedboard_cnn.srcs/sources_1/ip/fc_mac6_w.coe
!zedboard_cnn.srcs/sources_1/ip/fc_mac7_w.coe
!zedboard_cnn.srcs/sources_1/ip/fc_mac8_w.coe
!zedboard_cnn.srcs/sources_1/imports/Project/accumulater.v
!zedboard_cnn.srcs/sources_1/ip/cov2_1_core.coe
!zedboard_cnn.srcs/sources_1/ip/cov2_3_core.coe
!zedboard_cnn.srcs/sources_1/ip/cov2_4_core.coe
!zedboard_cnn.srcs/sources_1/ip/cov2_5_core.coe
!zedboard_cnn.srcs/sources_1/ip/cov2_6_core.coe
!zedboard_cnn.srcs/sources_1/imports/ov7670_Cnn/img_input.dat
!zedboard_cnn.srcs/sources_1/new/FullConnect.sv
!zedboard_cnn.srcs/sources_1/new/CnnTest.v
!zedboard_cnn.srcs/sources_1/imports/ov7670_Cnn/Img8_32x32.dat
!zedboard_cnn.srcs/sources_1/imports/ov7670_Cnn/fc1_core.dat
!zedboard_cnn.srcs/sources_1/new/conv1.sv
!zedboard_cnn.srcs/sources_1/new/MaxPool.sv
!zedboard_cnn.srcs/sources_1/imports/ov7670_Cnn/eight5_32x32.dat
!zedboard_cnn.srcs/sources_1/imports/ov7670_Cnn/eight1_32x32.dat
!zedboard_cnn.srcs/sources_1/imports/ov7670_Cnn/eight18_32x32.dat
!zedboard_cnn.srcs/sources_1/imports/ov7670_Cnn/eight2_32x32.dat
!zedboard_cnn.srcs/sources_1/imports/ov7670_Cnn/fcb_data.dat
!zedboard_cnn.srcs/sources_1/new/Conv.sv
!zedboard_cnn.srcs/sources_1/imports/ov7670_Cnn/covcore1_1.dat
!zedboard_cnn.srcs/sources_1/imports/ov7670_Cnn/covcore2_1.dat
!zedboard_cnn.srcs/sources_1/new/Cnn.sv
!zedboard_cnn.srcs/sources_1/new/Relu.sv
!zedboard_cnn.srcs/sources_1/new/Sigmoid.sv
!zedboard_cnn.srcs/sources_1/imports/ov7670_Cnn/covcore1_2.dat
!zedboard_cnn.srcs/sources_1/imports/ov7670_Cnn/covcore2_4.dat
!zedboard_cnn.srcs/sources_1/imports/ov7670_Cnn/covcore2_6.dat
!zedboard_cnn.srcs/sources_1/imports/ov7670_Cnn/covcore2_5.dat
!zedboard_cnn.srcs/sources_1/imports/ov7670_Cnn/covcore2_3.dat
!zedboard_cnn.srcs/sources_1/imports/ov7670_Cnn/covcore2_2.dat
!zedboard_cnn.srcs/sources_1/new/Resizeimg.sv
!zedboard_cnn.srcs/sources_1/new/EdgeSobelGray.sv
!zedboard_cnn.srcs/sources_1/new/RGB2Gray.sv
!zedboard_cnn.srcs/sources_1/ip/cordic_0/cordic_0.xci
!zedboard_cnn.srcs/sources_1/new/EdgeSobelApprox.sv
!zedboard_cnn.srcs/sources_1/new/Conv_Optimize.sv
!zedboard_cnn.srcs/sources_1/new/ImgRam.sv
!zedboard_cnn.srcs/sources_1/new/Cnn_Optimize.sv
!zedboard_cnn.srcs/sources_1/imports/ov7670_Cnn/covcore1_3.dat
!zedboard_cnn.srcs/sources_1/imports/ov7670_Cnn/covcore2_9.dat
!zedboard_cnn.srcs/sources_1/imports/ov7670_Cnn/covcore2_10.dat
!zedboard_cnn.srcs/sources_1/imports/ov7670_Cnn/covcore2_15.dat
!zedboard_cnn.srcs/sources_1/imports/ov7670_Cnn/covcore2_8.dat
!zedboard_cnn.srcs/sources_1/imports/ov7670_Cnn/covcore2_7.dat
!zedboard_cnn.srcs/sources_1/imports/ov7670_Cnn/covcore2_12.dat
!zedboard_cnn.srcs/sources_1/imports/ov7670_Cnn/covcore2_13.dat
!zedboard_cnn.srcs/sources_1/imports/ov7670_Cnn/covcore2_14.dat
!zedboard_cnn.srcs/sources_1/imports/ov7670_Cnn/covcore2_11.dat
!zedboard_cnn.srcs/sources_1/imports/ov7670_Cnn/zero30.dat
!zedboard_cnn.srcs/sources_1/new/Conv1_Optimize.sv
!zedboard_cnn.srcs/sources_1/new/ImgRam1.sv
!zedboard_cnn.srcs/sources_1/imports/ov7670_Cnn/one53.dat
!zedboard_cnn.srcs/sources_1/imports/ov7670_Cnn/two30.dat
!zedboard_cnn.srcs/sources_1/imports/ov7670_Cnn/six72.dat
!zedboard_cnn.srcs/sources_1/imports/ov7670_Cnn/four130.dat
!zedboard_cnn.srcs/sources_1/imports/ov7670_Cnn/seven130.dat
!zedboard_cnn.srcs/sources_1/new/ResizeImg25M.sv
!zedboard_cnn.srcs/sources_1/new/Seg.sv
!zedboard_cnn.srcs/sources_1/bd/zynq/hdl/zynq_wrapper.v
!zedboard_cnn.srcs/sources_1/ip/blk_mem_gen_0/blk_mem_gen_0.xci
!zedboard_cnn.srcs/sources_1/ip/blk_mem_gen_1/blk_mem_gen_1.xci
!zedboard_cnn.srcs/sources_1/ip/blk_mem_gen_10/blk_mem_gen_10.xci
!zedboard_cnn.srcs/sources_1/ip/blk_mem_gen_11/blk_mem_gen_11.xci
!zedboard_cnn.srcs/sources_1/ip/blk_mem_gen_12/blk_mem_gen_12.xci
!zedboard_cnn.srcs/sources_1/ip/blk_mem_gen_2/blk_mem_gen_2.xci
!zedboard_cnn.srcs/sources_1/ip/blk_mem_gen_3/blk_mem_gen_3.xci
!zedboard_cnn.srcs/sources_1/ip/blk_mem_gen_4/blk_mem_gen_4.xci
!zedboard_cnn.srcs/sources_1/ip/blk_mem_gen_5/blk_mem_gen_5.xci
!zedboard_cnn.srcs/sources_1/ip/blk_mem_gen_6/blk_mem_gen_6.xci
!zedboard_cnn.srcs/sources_1/ip/blk_mem_gen_7/blk_mem_gen_7.xci
!zedboard_cnn.srcs/sources_1/ip/blk_mem_gen_8/blk_mem_gen_8.xci
!zedboard_cnn.srcs/sources_1/ip/blk_mem_gen_9/blk_mem_gen_9.xci
!zedboard_cnn.srcs/sources_1/ip/fifo_generator_0/fifo_generator_0.xci
!zedboard_cnn.srcs/sources_1/ip/clk_wiz_0/clk_wiz_0.xci
!zedboard_cnn.srcs/constrs_1/imports/new/pinset.xdc
!zedboard_cnn.srcs/sim_1/new/sim7.v
!zedboard_cnn.srcs/sim_1/imports/new/sim6.v
!zedboard_cnn.srcs/sim_1/imports/ov7670Cnn/sim6_behav.wcfg
!zedboard_cnn.srcs/sim_1/new/sim8.sv
!zedboard_cnn.srcs/sim_1/new/sim9.sv